/* Reset Document */
*{
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: fixed;
    z-index: 2;
}

.bg{
    background-image: url(src/img/moon.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 219px;
    width: 290px;
    position: absolute;
    left: 70%;
}

nav img {
    width: 150px;
    position: absolute;
    left: 100px;
}

a li{
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    left: 70%;
    top: 20px;
    font-size: 18px;
    color: #4f61f7;
}

section{
    position: relative;
    top: 60px;
    width: 90%;
    height: 450px;
    background-color: transparent;
    margin: 10px auto;
}

.text{
    background-color: transparent;
    width: 300px;
    height: 350px;
    position: relative;
    top: 130px;
    left: 40px;
}

.text h1{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Bree Serif', serif;
    font-size: 34px;

}

.text p{
    margin-bottom: 50px;
    font-family: 'Amiri', serif;
    line-height: 24px;
    font-size: 24px;
    color: #666;
}

input{
    width: 100px;
    height: 40px;
    background-color: #4f61f7;
    color: #fff;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Amiri', serif;
    border: 1px solid #4f61f7;
}

input:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4f61f7;
}

.photo{
    top: -300px;
    left: 250px;
    height: 400px;
    position: relative;
    background-color: transparent;
    width: 300px;

}

.photo img{
    height: 400px;
    position: relative;
    left: 17%;
    top: 10px;
}

.media-social{
    width: 440px;
    height: 45px;
    background-color: transparent;
    position: relative;
    left: 50px;
    top: -340px;
    border-bottom: 5px solid #666;
}

.media-social a li img{
    display: inline-block;
    width: 30px;
    text-decoration: none;
    position: relative;
    left: -330px;
    bottom: 10px;
}

.skill{
    position: relative;
    left: 500px;
    top: -300px;
    height: 300px;
    width: 550px;
    background-color: transparent;
}

.skill h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 34px;
    background-color: transparent
}

.skill p{
    margin-bottom: 50px;
    font-family: 'Amiri', serif;
    line-height: 24px;
    font-size: 20px;
    color: #666;
}

.abilities{
    background-color: transparent;
    position: relative;
    top: -30px;
    height: 160px;
}

.abilities a{
    text-decoration: none;
    text-align: center;
}

.abilities a p{
 text-align: center;
}

.abilities a img{
    width: 80px;
    position: relative;
    top: -45px;
}

.html{
    position: relative;
    width: 90px;
    height: 120px;
    background-color: transparent;
    margin-left: 20px;
    left: 20px;
}

.css{
    position: relative;
    top: -120px;
    left: 120px;
    background-color: transparent;
    width: 90px;
    height: 120px;
    margin-left: 20px;
}

.js{
    position: relative;
    top: -240px;
    left: 220px;
    background-color: transparent;
    width: 90px;
    height: 120px;
    margin-left: 20px;
}

.nodejs{
    position: relative;
    top: -360px;
    left: 320px;
    background-color:transparent;
    width: 90px;
    height: 120px;
    margin-left: 20px;
}

.mongodb{
    position: relative;
    top: -480px;
    left: 420px;
    background-color: transparent;
    width: 90px;
    height: 120px;
    margin-left: 20px;
}

footer{
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    top: 95%;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
